.modal-body-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-content-price {
  display: flex;
}

.modal-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
