.reward-index-container {
  background-color: rgb(179, 218, 252);
}

.reward-card {
  display: flex;
  width: 450px;
  position: relative;
  border-radius: 20px;
  padding: 20px 0px 20px 18px;
  background-color: #6f91e9;
}

.reward-missions-back-btn {
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(28, 81, 166);
}

.reward-header-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(28, 81, 166);
  font-size: 25px;
  h3 {
    color: rgb(28, 81, 166);
  }
}

.rewards-container {
  padding: 30px;
}

.reward-inv {
  position: absolute;
  top: 137px;
  color: #ffffff80;
  font-size: 14px;
  right: 27px;
}

.child-coins {
  display: flex;
  justify-content: end;
  font-size: 33px;
  align-items: center;
  position: fixed;
  background-color: rgb(179, 218, 252);
  right: 0;
  width: 100px;
  padding: 0;
  border-radius: 10px;
  z-index: 1030;
}

.reward-desc {
  padding-right: 10px;
  padding-left: 0;
}

.reward-card-info {
  background-color: #6f91e9;
}

.reward-price {
  position: absolute;
  top: 9px;
  right: 14px;
}

.reward-card-image {
  background-image: url('/assets/Reward-icon-4-6bc5ce9c07afd43efd89bb6959935e2eab69d51605c28029a91c63876db9d9f0.png');
  background-size: cover;
  width: 150px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  color: white;
  text-align: center;
  height: 180px;
  background-position: center;
}

.reward-iterate-container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-row-gap: 20px;
  place-items: center;
}

.reward-card-text {
  color: white;
  padding-top: 30px;
  h3 {
    padding: 0;
  }
}

.reward-card-price-btn {
  bottom: 20px;
  position: absolute;
  right: 15px;
}
