<div class="card" style="max-width: 600px;">
  <div class="row g-1 align-items-center">
    <div class="col-md-2 ">
     <%= image_tag 'cleaning.jpg', height: '50', width: '50', class: 'rounded' %>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">[Morning] Clear your study desk</h5>
        </div>
        </div>
    <div class="col-md-3">
        <h5 class="card-text d-flex align-items-center"> 10 coins </h5>
        <a class="btn btn-gradient" style="width:100px">details</a>
      </div>
    </div>
</div>
