<div class="card mb-2" style="max-width: 600px; height:100px">
  <div class="row g-0">
    <div class="col-md-2 ">
     <%= image_tag 'cleaning.jpg', height: '90', width: '90', class: 'rounded' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">[Morning Task] Clear your study desk</h5>
        <p class="card-text">pack away all the stuff on your desk and then wipe it with cleaning wipe</p>
        </div>
        </div>
    <div class="col-md-2">
        <h5 class="card-text d-flex align-items-center"> 10 coins </h5>
        <a class="btn btn-gradient" style="width:100px">Done</a>
      </div>
    </div>
</div>
  