<div class="top-page">
  <div class="container-box d-flex justify-content-between align-content-center">

      <div class="container-text">

      </div>
      <div class="container-image">
        <%= image_tag "family.jpg", class: "image-size" %>
      </div>

  </div>
</div>
