<div class="top-page">
  <div class="container-box d-flex justify-content-between align-content-center">

      <div class="container-text">
      <h1> DekiTaYo! </h1>
        <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-gradient"%>
      </div>
      <div class="container-image">
        <%= image_tag "family.jpg", class: "image-size" %>
      </div>

  </div>
</div>
