.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.circular-image {
  width: 100px;  /* or any other size */
  height:100px; /* must be the same as width for a perfect circle */
  border-radius: 50%; /* this makes the image circular */
  object-fit: cover; /* optional: this ensures the image covers the area without stretching */
}
