.btn-ghost {
  color: #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $raisin-black;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $cool-gray;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($medium-brown, $dark-brown);
  transition: background 0.3s ease;
  border: 1px solid $medium-brown;
}

.btn-gradient:hover {
  background: linear-gradient($light-brown, $medium-brown);
  color: white;
}

.rewards-link-btn {
  text-decoration: none;
  font-size: medium;
  color: #f0ca0a;
}

.rewards-link-btn:hover {
  color: rgb(249, 191, 16);
  transition: 0.3s;
}

.btn-home-explore {
  position: absolute;
  left: 19%;
  background-color: rgb(86, 39, 13);
}

.btn-home-explore:hover {
  background-color: rgb(49, 22, 7);
  transition-duration: .5s;
}

.btn-view-all {
background-color: darkcyan;
border-radius: 25px;
margin-top: 3px;
}

.btn-board-dekitayo {
  border-radius: 25px;
  background-color: #139436;
}

.btn-primary {
  border-radius: 25px;
}
