.card-category {
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
  margin-left: 2%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.child-dashboard-card {
width: 500px;
background-color: #f8f5e3;
border-radius: 5px;
border-style: solid black;
margin-bottom: 5px;
}

.child-dashboard-card-text {
  font-size: 25px;
}

.card-dashboard {
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 10px;
  margin-left: 2%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 8px;
}

.view-all-child-dashboard-card {
  width: 700px;
  background-color: #f8f5e3;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px;
  align-items: center;
  border: 1px solid grey;
  }

.view-all-child-dashboard-card-text {
display: flex;
flex-direction: column;
align-items: start;
  }
