.homepage-container {
  background-image: asset-url("homepage-bg.png");
  height: 2200px;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.home-hero-container {
  padding-top: 250px;
}
