
.footer {
  background-color: rgb(81, 75, 69);
  flex-shrink: 0;
}

.footer-icon:hover {
  color: rgb(177, 152, 126);
  transition: 0.2s;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
