.tile-position {
  position: absolute;
  z-index: 1;

  &.character {
    width: 150px;
    height: 150px;
    z-index: 2;
    position: absolute;
    // we can change character piece here
  }

  &.position-1 { top: 223px; left: 615px; }
  &.position-2 { top: 111px; left: 685px; }
  &.position-3 { top: 109px; left: 819px; }
  &.position-4 { top: 225px; left: 886px; }
  &.position-5 { top: 225px; left: 1019px; }
  &.position-6 { top: 112px; left: 1089px; }
  &.position-7 { top: 112px; left: 1223px; }
  &.position-8 { top: 228px; left: 1291px; }
  &.position-9 { top: 228px; left: 1426px; }
  &.position-10 { top: 228px; left: 1558px; }
  &.position-11 { top: 344px; left: 1625px; }
  &.position-12 { top: 460px; left: 1558px; }
  &.position-13 { top: 460px; left: 1423px; }
  &.position-14 { top: 575px; left: 1356px; }
  &.position-15 { top: 575px; left: 1221px; }
  &.position-16 { top: 460px; left: 1153px; }
  &.position-17 { top: 460px; left: 1019px; }
  &.position-18 { top: 575px; left: 952px; }
  &.position-19 { top: 575px; left: 818px; }
  &.position-20 { top: 461px; left: 750px; }
  &.position-21 { top: 461px; left: 617px; }
  &.position-22 { top: 577px; left: 552px; }
  &.position-23 { top: 692px; left: 620px; }
  &.position-24 { top: 807px; left: 688px; }
  &.position-25 { top: 807px; left: 822px; }
  &.position-26 { top: 921px; left: 891px; }
  &.position-27 { top: 1038px; left: 958px; }
  &.position-28 { top: 1038px; left: 1092px; }
  &.position-29 { top: 1154px; left: 1158px; }
  &.position-30 { top: 1151px; left: 1159px; }
  &.position-31 { top: 1151px; left: 1292px; }
  &.position-32 { top: 1151px; left: 1426px; }
  &.position-33 { top: 1151px; left: 1560px; }
  &.position-34 { top: 1267px; left: 1627px; }
  &.position-35 { top: 1383px; left: 1560px; }
  &.position-36 { top: 1383px; left: 1425px; }
  &.position-37 { top: 1383px; left: 1293px; }
  &.position-38 { top: 1383px; left: 1158px; }
  &.position-39 { top: 1383px; left: 1024px; }
  &.position-40 { top: 1270px; left: 958px; }
  &.position-41 { top: 1270px; left: 825px; }
  &.position-42 { top: 1155px; left: 758px; }
  &.position-43 { top: 1038px; left: 693px; }
  &.position-44 { top: 1038px; left: 558px; }
  &.position-45 { top: 1155px; left: 495px; }
  &.position-46 { top: 1271px; left: 560px; }
  &.position-47 { top: 1387px; left: 627px; }
  &.position-48 { top: 1503px; left: 694px; }
  &.position-49 { top: 1503px; left: 828px; }
  &.position-50 { top: 1613px; left: 899px; }
  &.position-51 { top: 1613px; left: 1025px; }
  &.position-52 { top: 1613px; left: 1159px; }
  &.position-53 { top: 1613px; left: 1292px; }
  &.position-54 { top: 1613px; left: 1427px; }
  &.position-55 { top: 1728px; left: 1495px; }
  &.position-56 { top: 1728px; left: 1628px; }
  &.position-57 { top: 1846px; left: 1694px; }
  &.position-58 { top: 1961px; left: 1624px; }
  &.position-59 { top: 1961px; left: 1490px; }
  &.position-60 { top: 1961px; left: 1363px; }
  &.position-61 { top: 1856px; left: 1299px; }
  &.position-62 { top: 1856px; left: 1165px; }
  &.position-63 { top: 1856px; left: 1031px; }
  &.position-64 { top: 1856px; left: 897px; }
  &.position-65 { top: 1856px; left: 762px; }
  &.position-66 { top: 1979px; left: 662px; }
}

.dancing-monkey {
  position: absolute;
  top: 713px;
  left: 1260px;
}

.bg-board {
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  padding: 0;
}

#snowflakeContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
}


.snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.snowflake {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.8;
  animation: snowflakes-fall linear infinite;
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(100vh);
  }
}

.finished-status {
    color: green;
}

.started-status {
  color: rgb(200, 130, 0);
}



.gameboard-marker {
  text-align: center;
  font-size: 110px;

}

#gameboard {
  overflow: scroll;
  // position: relative;
  right: 600px;
}

#gameboard-body {
  height: calc(100vh - 80px);
  background-color: lightblue;
}
