.character-position {
  position: absolute;
  width: 20px;
  &.position-0 { top: 64px; left: 250px; }
  &.position-1 { top: 55px; left: 290px; }
  &.position-2 { top: 35px; left: 232px; }
  &.position-3 { top: 88px; left: 360px; }

}

.gameboard-tiles {
  position: relative;
}
// 45px 175px
// 35  203
// 35 340


//60 250
//
