// -----------image on left--------------
.hero-left-card-product {
  overflow: hidden;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.hero-left-card-product img {
  height: 250px;
  width: 300px;
  object-fit: cover;
  margin-right: 150px;
  margin-left: 200px;
}

.hero-left-card-product h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-right: 200px;
}

.hero-left-card-product p {
  font-size: 25px;
  line-height: 1.5;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
  margin-right: 200px;
}



// -----------image on right--------------
.hero-right-card-product {
  overflow: hidden;
  height: 300px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
}

.hero-right-card-product img {
  height: 250px;
  width: 300px;
  object-fit: cover;
  margin-left: 150px;
  margin-right: 200px;
}

.hero-right-card-product h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-left: 200px;
}

.hero-right-card-product p {
  font-size: 25px;
  line-height: 1.5;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
  margin-left: 200px;
}
// ----------------------------------------------
.hero-left-card-product-infos {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hero-left-card-product-infos h2, .hero-right-card-product-infos h2{
  font-size: 25px;
}

.hero-left-card-product-infos p, .hero-right-card-product-infos p{
  font-size: 18px;
}

.hero-card {
  margin-top: 40px;
  margin-bottom: 40px;
}
