.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#6be1ee, #48e8ee);
  transition: background 0.3s ease;
  border: 1px solid #0facc4;
}

.btn-gradient:hover {
  background: linear-gradient(#cbced1, #4d4e4f);
  color: white;
}
