aside {
  width: 300px;
}

.tab-display {
  display: none;
}

.tab-display:target {
  display: block;
}

.card-notif {
  display: flex;
  background-color: #45FEBC;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #EFEEEC;
}

.card-button-notif {
  background-color: white;
}
