#show-body{
  background-color: rgb(179, 218, 252);
}

.show_container{
  background-color: rgb(179, 218, 252);
}

.show_container .aside-card{
  background-color: #efeeec !important;
}

.parent-btn{
  padding-left: 10px;
  border:none;
  background: transparent;
  text-align: left;
}
