#show-body{
  background-color: rgb(179, 218, 252);
  padding-top: 50px;
}

.show_container{
  background-color: rgb(179, 218, 252);
  padding: 10px,10px;
}

.show_container .aside-card{
  background-color: #efeeec !important;
}

.parent-btn{
  padding-left: 10px;
  border:none;
  background: transparent;
  text-align: left;
}
