<div class="card" style="max-width: 600px;">
  <div class="row g-1 align-items-center">
    <div class="col-md-2 ">
     <%= image_tag 'cleaning.jpg', height: '50', width: '50', class: 'rounded' %>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title"><%= mission.title %></h5>
        </div>
        </div>
    <div class="col-md-3">
        <h5 class="card-text d-flex align-items-center">
          <%= pluralize(mission.coins, "coin") %>
        </h5>
        <%= link_to "Details", mission_path(mission), class: "btn btn-gradient" %>
      </div>
    </div>
</div>
